:root {
    --header-color: rgba(245, 204, 79, 0.823);
    --body-color: rgba(244, 216, 132, 0.876);
    --lines-color: rgb(255, 230, 156);
    --random-color: rgb(83, 53, 132);
    --font-color: black;
    --ff-primary: 'Noto Sans Mono', monospace;
    --ff-heading: var(--ff-primary);

}

/************************ LANDING PAGE AND PLAYERS *************************/

/* HEADER */
body {
    font-family: var(--ff-heading);
    background-color: var(--header-color);

}

.con-header {

    height: 15vh;
}

.con-row {
    background-color: var(--header-color);
    height: 100%;

}

.logo-img {
    width: 85%;
    height: 70%;

}

/* MAIN */
.main-container {
    display: flex;
    align-items: center;
    height: 70vh;
    width: 100vw;
    background-color: var(--body-color);
}

h1 {
    font-family: var(--ff-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
}
