:root{
    --header-color: rgba(245, 204, 79, 0.823);
    --body-color: rgba(244, 216, 132, 0.876);
    --lines-color: rgb(255, 230, 156);
    --random-color: rgb(83, 53, 132);
    --font-color: black;
    --ff-primary: 'Noto Sans Mono', monospace;
    --ff-heading: var(--ff-primary);
  

}
.selector-for-some-widget{
    box-sizing: content-box;
}


/* HEADER */
body{
    font-family:var(--ff-heading);
}

.con-header {
    
    height: 15vh;
   }


.con-row {
    background-color :var(--header-color);
    height: 100%;
    
    
}

.logo-img {
   width: 85%;
   height: 70%;
    
} 


/* MAIN */
.main-container{
    display: flex;
    align-items: center;
    height: 70vh;
    width: 100vw;
    background-color: var(--body-color);
}
.main-container-board{
    background-color: );


}

.box-container{ 
    width: 20vw;
    height: 15vh;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%; 
}

#box-uno {
    
    border-right: solid 3px black;
    border-bottom: solid 3px black;      
}
#box-dos {
    
    border-right: solid 3px black;
    border-left: solid 3px black;      
}
#box-tres {
    border-bottom: solid 3px black;
   

}

/* BOARD GAME */




/* footer */
.footer {
    background-color: var(--header-color);
    width: 100vw;
    height: 15vh;
    display: flex;
}

h2{
    font-family: var(--ff-heading);
    font-weight: 900;
}